.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container{

    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}

.cart-container{

    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    max-height: fit-content;
    max-width: fit-content;
    margin-top: 40px;
}