.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container{

    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}

.cart-container{

    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    max-height: fit-content;
    max-width: fit-content;
    margin-top: 40px;
}

.btn-proceed{
    background-color: #f90;
    border-radius: 4px;
    width: 100%;
    height: 56px;
    font-size: 21px;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}